# C++ build directories
cmake-build-debug/
cmake-build-release/
cmake-build-production/
build/

# IDE files
.idea/
.vscode/

# Compiled files
*.o
*.exe
*.out

# Dependency directories
vcpkg/
vcpkg_installed/
LocalDataBase.json
